
@model IEnumerable<GridFilteringMVC.Models.EmployeeViewModel>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Content/ajaxloader.js"></script>

<div class="jumbotron">
    <label for="nameFilter">Find emplyee by name: </label>
    <input id="nameFilter" type="text" class="form-control" /><div id="divLoaderName" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /></div> 

    <p><label>Find emplyee hired after date: </label></p>
    @Html.TextBox("hiredateFilter", "Select the date", new { @class = "datepicker" })
    <div id="divLoaderHireDate" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /></div> 

    <p><label>Find employee by department: </label></p>
    <form asp-action="GetEmployeesByDepartment" method="get">
        <div class="form-actions no-color">
            @Html.DropDownList("departmentFilter", (IEnumerable<SelectListItem>)ViewBag.Departments,
                "Select Department")
            <div id="divLoaderDepartment" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /></div> 
            <p>Selected Department: <label id="lbltxt"></label><br /><br /></p>
        </div>
    </form>

    <label>Find emplyee by grade: </label>

    @Html.DropDownList("gradeFilter", Enumerable.Range(1, 10)
    .Select(x => new SelectListItem
    {
        Text = x.ToString(),
        Value = x.ToString()
    }))
    <div id="divLoaderGrade" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /></div> 
    <p><label>Find employee by performance manager name: </label></p>
   
    <form asp-action="GetEmployeesByManager" method="get">
        <div class="form-actions no-color">
            @Html.DropDownList("managerFilter", (IEnumerable<SelectListItem>)ViewBag.Employees,
                String.Empty)
            <div id="divLoaderManager" style="display:none;"> <img src="~/Content/ajax-loader.gif" alt="Loader" /></div> 
            <p>Selected Manager: <label id="managertxt"></label><br /><br /></p>
        </div>
    </form>

    <table id="grid" class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("Employee name")
                </th>
                <th>
                    @Html.DisplayName("Hire date")
                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayName("Department")
                </th>
                <th>
                    @Html.DisplayName("Performance manager")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="gridBody"></tbody>
    </table>
</div>
<script>

    $('.datetimepicker').datetimepicker();

    $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: "EN",
            orientation: 'left bottom',
            autoclose: true
            //onSelect: function(dateText) {
            //    display("Selected date: " + dateText + "; input's current value: " + this.value);
            //    $(this).change();

            //}
        })
        .on("change",
            function() {
                var filterValue = $('#hiredateFilter').datepicker('getDate').toISOString();
                $.ajax({
                    url: "/Home/GetEmployeesHiredAfter",
                    type: "get",
                    data: { hireDate: filterValue },
                    complete: function(data) {
                        var employees = data.responseJSON;
                        populateGrid(employees);
                    }
                });
            });
       
        
    $(function () {

        $('#departmentFilter').change(function () {

            $("#lbltxt").text($("#departmentFilter option:selected").text());

        });
    });

    $(function () {

        $('#managerFilter').change(function () {

            $("#managertxt").text($("#managerFilter option:selected").text());

        });
    });
    
    function populateGrid(employees) {
        var gridBody = $("#gridBody");
        gridBody.empty();
        for (var i = 0; i < employees.length; i++) {
            console.log(employees[i]);
            gridBody.append("<tr><td>" + employees[i].EmployeeName + " </td> <td>" + moment(employees[i].HireDate).format("MMM Do YYYY") + " </td> " +
                "<td>" + employees[i].Grade + " </td> <td>" + employees[i].DepartmentName + " </td> " +
                "<td>" + employees[i].PerformanceManagerName + " </td> " + " </tr > ");
        }
    }

    function initGrid() {

        $.ajax({
            url: "/Home/GetEmployees",
            type: "get",
            complete: function (data) {
                var employees = data.responseJSON;
                populateGrid(employees);
            }
        });

    };


    $(document).ready(function () {
        

        initGrid();

        $("#managerFilter").on("change",
            function () {
                $("#divLoaderManager").show();  
                var filterValue = $("#managerFilter option:selected").text();
            $.ajax({
                url: "/Home/GetEmployeesByManager",
                type: "get",
                data: { manager: filterValue },
                complete: function (data) {
                    
                    var employees = data.responseJSON;

                    populateGrid(employees);
                },
                error: function () {
                    $("#divLoaderManager").hide();
                },
                success: function () {
                    $("#divLoaderManager").hide();  
                }
            });

        });

        $("#nameFilter").on("change",
            function() {
                $("#divLoaderName").show();
                var filterValue = $(this).val();

                $.ajax({
                    url: "/Home/GetEmployeesByName",
                    type: "get",
                    data: { search: filterValue },
                    complete: function(data) {

                        var employees = data.responseJSON;
                        populateGrid(employees);
                    },
                    error: function() {
                        $("#divLoaderName").hide();
                    },
                    success: function() {
                        $("#divLoaderName").hide();
                    }
                });

            });

            //$("#nameFilter").autocomplete({
            //    source: function(request, response) {
            //        $.ajax({
            //            async: true,
            //            type: "post",
            //            contentType: "application/json; charset=utf-8",
            //            url: '/Home/AutoCompleteEmployeeName/',
            //            data: "{ 'text': '" + request.text + "'}",
            //            dataType: "json",
            //            minLength: 1,
            //            success: function(data) {
            //                response(data);
            //            },
            //            error: function(err) {
            //                alert(err);
            //            }


            //        });
            //    }
            //});
               
        $("#departmentFilter").on("change", function () {
            $("#divLoaderDepartment").show();  
            var filterValue = 
                $("#departmentFilter option:selected").text();
            $.ajax({
                url: "/Home/GetEmployeesByDepartment",
                type: "get",
                data: { DepartmentName: filterValue },
                complete: function (data) {
                    var employees = data.responseJSON;
                    populateGrid(employees);
                },
                success: function() {
                    $("#divLoaderDepartment").hide();  
                },
                error: function() {
                    $("#divLoaderDepartment").hide();  
                }
            });

        });
        $("#gradeFilter").on("change", function () {
            $("#divLoaderGrade").show();  
            var filterValue = $(this).val();
          
            $.ajax({
                url: "/Home/GetEmployeeByGrade",
                type: "get",
                data: { grade: filterValue },
                error: function() {
                    $("#divLoaderGrade").hide(); 
                    alert('error'); 
                },
                complete: function (data) {
                    var employees = data.responseJSON;
                    populateGrid(employees);
                },
                success: function () {
                    $("#divLoaderGrade").hide();  
                }
            });

        });

        $("#hiredateFilter").on("change", function () {
            $("#divLoaderHireDate").show();  
            var filterValue = $('#hiredateFilter').datepicker('getDate').toISOString();
              
            $.ajax({
                url: "/Home/GetEmployeesHiredAfter",
                type: "get",
                data: { hireDate: filterValue },
                complete: function (data) {
                    var employees = data.responseJSON;
                    populateGrid(employees);
                },
                error: function () {
                    $("#divLoaderHireDate").hide();
                },
                success: function () {
                    $("#divLoaderHireDate").hide();  
                }
            });

        });
        
    });


</script>
